.caption, .stickers { font-size: 0 }
@page{ size: auto; }
body { 
  margin:0;
  height:11in;
  width:8.5in;
}
.caption {
  height: 0;
  margin-left:0.10in;
}
.caption.right {
  text-align: right;
}
.caption h2 { margin:0;font-size:14.5pt; font-weight: 500; margin-bottom:-2pt; display: block }
.caption h3 { margin:0; font-weight: 200;font-size:12pt}
.caption em { font-style: normal; font-weight: 200;color:#555;margin-left:6pt;font-size:11pt}
.caption div { 
  font-family: 'Fira Sans', sans-serif;
  border-left: 1px dotted black;
  margin-top:0.05in; font-size: 12pt; padding-left:0.10in; padding-right: 0.10in;
  display: inline-block }
.caption > :last-child{ 
  border-right: 1px dotted black;
}
img { width: 4.0in; }
.stickers div { width: 4.0in; height: 3.363in }
span { margin-top: 0.53in; width: 4in;display:inline-block }
#col0 { margin-right:0.20in;margin-left:0.16in}
